fvcore
glog
h5py
matplotlib==3.1.1
numpy==1.26
opencv_python
opencv_contrib_python
opencv_python_headless
Pillow
scipy
scikit-image
tensorboardX
terminaltables
torch
torchvision
-e git+https://github.com/facebookresearch/detectron2@41f737b49d70270a1b59231a85bbb5e9d82519dc#egg=detectron2