fvcore==0.1.5.post20221221
glog==0.3.1
h5py==3.11.0
matplotlib==3.7.1
numpy==2.1.2
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==11.0.0
scipy==1.14.1
scikit-image
tensorboardX==2.6.2.2
terminaltables==3.1.10
torch==2.4.1+cu121
torchvision==0.19.1+cu121
-e git+https://github.com/facebookresearch/detectron2@41f737b49d70270a1b59231a85bbb5e9d82519dc#egg=detectron2