fvcore==0.1.2.post20210115
glog==0.3.1
h5py==2.9.0
matplotlib==3.1.1
numpy==1.17.2
opencv_python==4.2.0.32
opencv_contrib_python
opencv_python_headless
Pillow==6.2.0
scipy==1.3.1
scikit-image
tensorboardX==2.0
terminaltables==3.1.10
torch==1.7.1
torchvision==0.8.2
-e git+https://github.com/facebookresearch/detectron2@41f737b49d70270a1b59231a85bbb5e9d82519dc#egg=detectron2